#legend {
	position: relative;
	max-height: 331px;
	border-radius: 10px;
	background: rgba(#fff, .17);
	transition: max-height .2s ease-in;
	overflow: hidden;
	backface-visibility: hidden;
	will-change: max-height;
}

.legend__content {
	transition: opacity .2s;
	backface-visibility: hidden;
	will-change: opacity;

	h3 {
		font-size: 16px;
	}

	#operands {
		flex-wrap: wrap;
		font-size: 16px;
	}

	#details p {
		margin: 3px 0;
	}

	#details .example {
		font-weight: 700;
	}
}

.legend__closed {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 18px;
	color: #fff;
	box-shadow: none;
	background: transparent;
	backface-visibility: hidden;
	will-change: opacity, transform;

	h3 {
		float: left;
		margin-top: 5px;
	}

	.openBtn {
		float: right;
		padding: 8px 13px;
		font-size: 15px;
		border-radius: 10px;
		background: rgba(#fff, .17);
	}
}

#legend.closed {
	max-height: 49px;
	transition: max-height .2s ease-out;

	.legend__content {
		opacity: 0;
	}

	.legend__closed {
		display: block;
		animation: appear .35s;
	}
}



@keyframes appear {
	0% { display: none; opacity: 0; }
	50% { display: none; opacity: 0; transform: translateY(20px); }
	100% { display: block; opacity: 1; transform: translateY(0); }
}



@media screen and (max-width: 366px) {
	#legend {
		#operands {
			flex-direction: column;
		}
		.operand__original:after {
			content: ":";
		}
		.operand {
			flex-direction: row;
		}
		.operand__code {
			margin-left: 10px;
		}
	}
}

@media screen and (max-height: 700px) {
   
}